:root{

    /* Theme 1 */
    /* Backgrounds */

--veryDarkDesaturatedBlue: hsl(222, 26%, 31%); /*(main background)*/
--veryDarkDesaturatedBlue1: hsl(223, 31%, 20%); /*(toggle background, keypad background)*/
--veryDarkDesaturatedBlue2: hsl(224, 36%, 15%);/*(screen background)*/

    /* Keys */

--desaturatedDarkBlue: hsl(225, 21%, 49%); /*(key background)*/
--desaturatedDarkBlue1: hsl(224, 28%, 35%);/*(key shadow)*/
--red: hsl(6, 63%, 50%); /*(key background, toggle)*/
--darkRed: hsl(6, 70%, 34%); /*(key shadow)*/
--lightGrayishOrange: hsl(30, 25%, 89%); /*(key background)*/
--grayishOrange: hsl(28, 16%, 65%); /*(key shadow)*/

    /* Text */

--veryDarkGrayishBlue: hsl(221, 14%, 31%);
--white: hsl(0, 0%, 100%);

/* Theme 2 */

/* Backgrounds */
--lightGray: hsl(0, 0%, 90%); /*(main background)*/
--grayishRed: hsl(0, 5%, 81%); /*(toggle background, keypad background)*/
--veryLightGray: hsl(0, 0%, 93%); /*(screen background)*/

/* Keys */
--darkModerateCyan: hsl(185, 42%, 37%); /*(key background)*/
--veryDarkCyan: hsl(185, 58%, 25%); /*(key shadow)*/
--orange: hsl(25, 98%, 40%); /*(key background, toggle)*/
--darkOrange: hsl(25, 99%, 27%); /*(key shadow)*/
--lightGrayishYellow: hsl(45, 7%, 89%); /*(key background)*/
--darkGrayishOrange: hsl(35, 11%, 61%); /*(key shadow)*/

/* Text */
--veryDarkGrayishYellow: hsl(60, 10%, 19%);
--white1: hsl(0, 0%, 100%); /*(text)*/

/* Theme 3 */

/* Backgrounds */
--veryDarkViolet: hsl(268, 75%, 9%);
--veryDarkViolet: hsl(268, 71%, 12%); /*(toggle background, keypad background, screen background)*/

/* Keys */
--darkViolet: hsl(281, 89%, 26%); /*(key background)*/
--vividMagenta: hsl(285, 91%, 52%); /*(key shadow)*/
--pureCyan: hsl(176, 100%, 44%); /*(key background, toggle)*/
--softCyan: hsl(177, 92%, 70%); /*(key shadow)*/
--veryDarkViolet: hsl(268, 47%, 21%); /*(key background)*/
--darkMagenta: hsl(290, 70%, 36%); /*(key shadow)*/

/* Text */
--lightYellow: hsl(52, 100%, 62%);
--veryDarkBlue: hsl(198, 20%, 13%);
--white2: hsl(0, 0%, 100%); /* (text)*/

}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--veryDarkDesaturatedBlue);
}

main{
    padding: 2rem;
}

header{
    display: flex;
    justify-content:space-between ;
    align-items:center;
    color: var(--white);
}

.right{
    display: flex;
    gap: 2rem;
}

p{
    text-transform: uppercase;
}

.themeNumber{
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}

.chooseTheme{
    display: flex;
    gap: 0.5rem;
    padding: 0.3rem 0.6rem;
    background-color: var(--veryDarkDesaturatedBlue1);
    border-radius: 1rem;
    margin-top: 0.3rem;
}

.theme{
    display: flex;
    width: 1rem;
    height: 1rem;    
    border-radius: 50%;
}

.theme1{
    background-color: var(--red);
}

.theme2{
    background-color: var(--orange);
    visibility: hidden;
}

.theme3{
    background-color: var(--pureCyan);
    visibility: hidden;
}











    footer{
        font-size: 1rem;
        text-align: center;
    }
    footer a{
        color: hsl(228, 45%, 44%);
    }
  