:root{

    /* Theme 1 */
    /* Backgrounds */

--veryDarkDesaturatedBlue: hsl(222, 26%, 31%); /*(main background)*/
--veryDarkDesaturatedBlue1: hsl(223, 31%, 20%); /*(toggle background, keypad background)*/
--veryDarkDesaturatedBlue2: hsl(224, 36%, 15%);/*(screen background)*/

    /* Keys */

--desaturatedDarkBlue: hsl(225, 21%, 49%); /*(key background)*/
--desaturatedDarkBlue1: hsl(224, 28%, 35%);/*(key shadow)*/
--red: hsl(6, 63%, 50%); /*(key background, toggle)*/
--darkRed: hsl(6, 70%, 34%); /*(key shadow)*/
--lightGrayishOrange: hsl(30, 25%, 89%); /*(key background)*/
--grayishOrange: hsl(28, 16%, 65%); /*(key shadow)*/

    /* Text */

--veryDarkGrayishBlue: hsl(221, 14%, 31%);
--white: hsl(0, 0%, 100%);

/* Theme 2 */

/* Backgrounds */
--lightGray: hsl(0, 0%, 90%); /*(main background)*/
--grayishRed: hsl(0, 5%, 81%); /*(toggle background, keypad background)*/
--veryLightGray: hsl(0, 0%, 93%); /*(screen background)*/

/* Keys */
--darkModerateCyan: hsl(185, 42%, 37%); /*(key background)*/
--veryDarkCyan: hsl(185, 58%, 25%); /*(key shadow)*/
--orange: hsl(25, 98%, 40%); /*(key background, toggle)*/
--darkOrange: hsl(25, 99%, 27%); /*(key shadow)*/
--lightGrayishYellow: hsl(45, 7%, 89%); /*(key background)*/
--darkGrayishOrange: hsl(35, 11%, 61%); /*(key shadow)*/

/* Text */
--veryDarkGrayishYellow: hsl(60, 10%, 19%);
--white1: hsl(0, 0%, 100%); /*(text)*/

/* Theme 3 */

/* Backgrounds */
--veryDarkViolet: hsl(268, 75%, 9%);
--veryDarkViolet1: hsl(268, 71%, 12%); /*(toggle background, keypad background, screen background)*/

/* Keys */
--darkViolet: hsl(281, 89%, 26%); /*(key background)*/
--vividMagenta: hsl(285, 91%, 52%); /*(key shadow)*/
--pureCyan: hsl(176, 100%, 44%); /*(key background, toggle)*/
--softCyan: hsl(177, 92%, 70%); /*(key shadow)*/
--veryDarkViolet2: hsl(268, 47%, 21%); /*(key background)*/
--darkMagenta: hsl(290, 70%, 36%); /*(key shadow)*/

/* Text */
--lightYellow: hsl(52, 100%, 62%);
--veryDarkBlue: hsl(198, 20%, 13%);
--white2: hsl(0, 0%, 100%); /* (text)*/

}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'League Spartan', sans-serif;    
}

.theme1Body{
    background-color: var(--veryDarkDesaturatedBlue);
}

main{
    padding: 2rem;
    max-width: 70vh;
    margin: auto;
}

header{
    display: flex;
    justify-content:space-between ;
    align-items:center;
    margin-top: 2rem;
}

.theme1Header{
    color: var(--white);
}

.right{
    display: flex;
    gap: 2rem;
}

p{
    text-transform: uppercase;
}

.themeNumber{
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}

.chooseTheme{
    display: flex;
    gap: 0.5rem;
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
    margin-top: 0.3rem;
}

.theme1ChooseTheme{
    background-color: var(--veryDarkDesaturatedBlue1);
}

.theme{
    display: flex;
    width: 1rem;
    height: 1rem;    
    border-radius: 50%;
    background-color: transparent;
}


.theme:hover{
    cursor: pointer;
}

.theme1{
    background-color: var(--red);
}

.theme2{
    background-color: var(--orange);    
}

.theme3{
    background-color: var(--pureCyan);    
}

.result{
    width: 100%;    
    height: 4.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
}

.theme1Result{
    color: var(--white);
    background-color: var(--veryDarkDesaturatedBlue2);
}

.keyboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: var(--veryDarkDesaturatedBlue1);
    gap: 0.8rem;
    border-radius: 1rem;
    justify-content: center;
    width: 100%;
}

.theme1Keyboard{
    background-color: var(--veryDarkDesaturatedBlue1);  
}

.numbers{
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: 700;
    font-size: 1.8rem;
}

.theme1Numbers{
    background-color: var(--lightGrayishOrange);
    box-shadow: 0 4px 0 var(--grayishOrange);
    color: var(--veryDarkGrayishBlue);
}

.numbers:hover{
    cursor: pointer;
}

.reset{
    grid-column: 1/3;
    grid-row: 5;
    border: none;
}

.reset:hover{
    cursor: pointer;
}

.equal{
    grid-column: 3/5;
    grid-row: 5;
    border: none;
    border-radius: 0.3rem;
    color: var(--white);
    font-size: 1.5rem;
}

.theme1Equal{
    background-color: var(--red);
    box-shadow: 0 4px 0 var(--darkRed);
}

.equal:hover{
    cursor: pointer;
}

.del, .reset{
    background-color: var(--desaturatedDarkBlue);
    box-shadow: 0 4px 0 var(--desaturatedDarkBlue1);
    border-radius: 0.3rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.theme1Del, .theme1Reset{
    background-color: var(--desaturatedDarkBlue);
    box-shadow: 0 4px 0 var(--desaturatedDarkBlue1);
}

.theme2Body{
    background-color: var(--lightGray);
}

.theme2Header{
    color: var(--veryDarkGrayishYellow);
}

.theme2ChooseTheme{
    background-color: var(--grayishRed);
}

.theme2Result{
    background-color: var(--veryLightGray);
    color: var(--veryDarkGrayishYellow);
}

.theme2Keyboard{
    background-color: var(--grayishRed);
}

.theme2Numbers{
    background-color: var(--lightGrayishYellow);
    box-shadow: 0 4px 0 var(--darkGrayishOrange);
    color: var(--veryDarkGrayishYellow);
}

.theme2Equal{
    background-color: var(--orange);
    box-shadow: 0 4px 0 var(--darkOrange);
}

.theme2Del, .theme2Reset{
    background-color: var(--darkModerateCyan);
    box-shadow: 0 4px 0 var(--veryDarkCyan);
}

.theme3Body{
    background-color: var(--veryDarkViolet);
}

.theme3Header{
    color: var(--lightYellow);
}

.theme3ChooseTheme{
    background-color: var(--veryDarkViolet1);
}

.theme3Result{
    background-color: var(--veryDarkViolet1);
    color: var(--lightYellow);
}

.theme3Keyboard{
    background-color: var(--veryDarkViolet1);
}

.theme3Numbers{
    color: var(--lightYellow);
    background-color: var(--veryDarkViolet2);
    box-shadow: 0 4px 0 var(--darkMagenta);   
}

.theme3Numbers:hover{
    background-color: var(--darkViolet);
    opacity: 0.7;
}

.theme3Equal{
    background-color: var(--pureCyan);
    box-shadow: 0 4px 0 var(--softCyan);
    color: var(--veryDarkBlue);
}

.theme3Del, .theme3Reset{
    background-color: var(--darkViolet);
    box-shadow: 0 4px 0 var(--vividMagenta);
}

@media (min-width:700px) {
    .numbers{
        width: 5rem;
    }
    
}

    footer{
        font-size: 1rem;
        text-align: center;
        width: 90%;
        margin: 1rem auto;
    }
    footer a{
        color: hsl(228, 45%, 44%);
    }
  